<% content_for :head do %>
  <%= stylesheet_link_tag "add" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <h2 class="page-title">Adaugă locație</h2>
      <%= render "form_add" %>
    </div>
    <div class="col-lg-7">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>