/*================================================================================================= GENERAL */

html, body {
  height: 100%;
}

a, a:link, a:visited, a:hover, a:active {
  color: #e25a00;
}

.brand {
  font-family: "PT Sans Caption", Arial, sans-serif;
}

.page-title {
  margin: 0 0 20px;
}

.required-field {
  color: #e25a00;
}

/*================================================================================================= WRAP */

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#wrap > .container {
  padding: 100px 15px 40px;
}

/*================================================================================================= NAVBAR */

.navbar {
  background-color: #539000;
  border-bottom: 1px solid #407f00;
  box-shadow: 0 0 5px -1px #333;
}

/*=============================================== LINKS */

.navbar .navbar-nav a {
  color: #d9e5cc !important;
}

.navbar .navbar-nav a:hover {
  color: #fff !important;
}

.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover {
  color: #fff !important;
  background-color: #407f00 !important;
}

/*=============================================== TOGGLE */

.navbar .navbar-header .navbar-toggle {
  border-color: #9fbf7f;
}

.navbar .navbar-header .navbar-toggle:hover {
  background-color: #407f00;
}

.navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #d9e5cc;
}

/*=============================================== BRAND */

.navbar .navbar-header .navbar-brand {
  font-family: "PT Sans Caption", Arial, sans-serif;
  font-size: 1.142857143em;
  color: #fff !important;
}

.navbar .navbar-header .navbar-brand small {
  font-size: 1em;
  color: #9fbf7f;
}

/*=============================================== COLLAPSE */

.navbar .navbar-collapse {
  border-color: #407f00;
}

/*=============================================== FORM */

.navbar .navbar-form {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .navbar-form input:focus {
  border-color: #407f00;
}

.navbar .navbar-form button:hover {
  background-color: #eee;
}

/*=============================================== DROPDOWN */

.navbar .navbar-nav .open .dropdown-toggle {
  color: #fff !important;
  background-color: #407f00 !important;
}

.navbar .navbar-nav .dropdown .dropdown-toggle .caret {
  border-top-color: #d9e5cc !important;
  border-top-color: #d9e5cc !important;
}

.navbar .navbar-nav .dropdown .dropdown-toggle:hover .caret,
.navbar .navbar-nav .open .dropdown-toggle .caret {
  border-top-color: #fff !important;
  border-top-color: #fff !important;
}

.navbar .navbar-nav .dropdown .dropdown-toggle .img-avatar {
  width: 18px;
  height: auto;
  margin-right: 3px;
  border-radius: 3px;
}

.navbar .navbar-nav .dropdown .dropdown-menu {
  background-color: #407f00;
}

.navbar .navbar-nav .dropdown .dropdown-menu li a:hover {
  background-color: #539000;
}

/*================================================================================================= FOOTER */

#footer {
  height: 60px;
  color: #fff;
  background-color: #e25a00;
  border-top: 1px solid #c95000;
}

#footer .credit {
  margin: 20px 0;
}

#footer a {
  font-style: italic;
  color: #fff;
}

@-webkit-keyframes roll {
  0% { opacity: 0; -webkit-transform: translateX(100%) rotate(120deg); }
  50% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); }
  100% { opacity: 0; -webkit-transform: translateX(-100%) rotate(-120deg); }
}

@-moz-keyframes roll {
  0% { opacity: 0; -moz-transform: translateX(100%) rotate(120deg); }
  50% { opacity: 1; -moz-transform: translateX(0px) rotate(0deg); }
  100% { opacity: 0; -moz-transform: translateX(-100%) rotate(-120deg); }
}

@-ms-keyframes roll {
  0% { opacity: 0; -ms-transform: translateX(100%) rotate(120deg); }
  50% { opacity: 1; -ms-transform: translateX(0px) rotate(0deg); }
  100% { opacity: 0; -ms-transform: translateX(-100%) rotate(-120deg); }
}

@-o-keyframes roll {
  0% { opacity: 0; -o-transform: translateX(100%) rotate(120deg); }
  50% { opacity: 1; -o-transform: translateX(0px) rotate(0deg); }
  100% { opacity: 0; -o-transform: translateX(-100%) rotate(-120deg); }
}

@keyframes roll {
  0% { opacity: 0; transform: translateX(100%) rotate(120deg); }
  50% { opacity: 1; transform: translateX(0px) rotate(0deg); }
  100% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
}

#footer a:hover img {
  -webkit-animation: roll 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: roll 2s;
  -moz-animation-iteration-count: infinite;
  -ms-animation: roll 2s;
  -ms-animation-iteration-count: infinite;
  -o-animation: roll 2s;
  -o-animation-iteration-count: infinite;
  animation: roll 2s;
  animation-iteration-count: infinite;
}

/*================================================================================================= MAP */

#map-canvas *,
#map-canvas *:before,
#map-canvas *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*================================================================================================= INFOWINDOW */

#infowindow {
  width: 200px;
  padding: 23px 0 12px 9px;
}

#infowindow .list-group {
  margin-bottom: 10px;
}

#infowindow .list-group-item h5 {
  margin-bottom: 0;
  font-size: 1.142857143em;
}

#infowindow .list-group-item p {
  color: #333;
}

#infowindow .list-group-item img {
  vertical-align: -4px;
}

#infowindow .list-group-item p span {
  width: 90px;
}

#infowindow #report {
  color: #fff;
}

#infowindow .img-avatar {
  width: auto;
  height: 30px;
  border-radius: 3px;
}

/*================================================================================================= END */