/*================================================================================================= SECTION */

.thumbnail {
  margin: 20px auto;
}

blockquote {
  padding: 10px 20px 0 0;
  border: 0;
}

/*================================================================================================= END */