/*================================================================================================= SIGN IN */

#sign-in {
  margin-bottom: 60px;
  background-color: #4862a3;
  color: #fff;
  border-color: #364f8f;
}

#sign-in:hover {
  background-color: #364f8f;
}

#sign-in img {
  margin-top: -2px;
  margin-right: 7px;
}

#stahp {
  margin-bottom: 20px;
}

/*================================================================================================= FORM */

.btn-group {
  margin: 25px 0 25px;
}

.btn-group a {
  padding: 10px 12px;
  color: #fff;
}

.btn-group a img {
  margin-right: 3px;
}

.form-group img {
  vertical-align: -3px;
}

.help-block {
  margin: 5px 0 0;
}

.help-block a {
  color: #fff;
}

/*================================================================================================= MAP */

#map-canvas {
  height: 452px;
  border: 1px solid #ddd;
}

/*================================================================================================= END */