/*================================================================================================= MAP */

#map-canvas {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  border: 0;
}

/*================================================================================================= SECTION */



/*================================================================================================= END */